<!DOCTYPE html>
<html ng-app='CounterApp'>
    <head>
        <meta charset="utf-8">
        <script src="angular.js"></script>
        <script src="app.js"></script>
        <style> body { font-size: 1.2em; }</style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <title>ng-repeat</title>
    </head>
    <body>
        <h1>The Digest Cycle</h1>
        <div ng-controller='CounterController'>
            <button ng-click="showNumberOfWatchers()">Log # of Watchers</button>
            <div>
                <button ng-click="countOnce()">Up Once Counter (once)</button>
                <button ng-click="upCounter()">Increment Counter</button>
            </div>
        </div>
    </body>
</html>